.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(216, 214, 214);
    min-height: 100vh;
    
    .top{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.5px solid rgb(216, 214, 214);
        background-color: #fce5d8;
    }
    .logo{
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
    }

    .center{
        padding-left: 10px;
    }
        ul{
            list-style: none;
            margin:0px;
            padding: 0px;
        }
            .title{
                font-size: 10px;
                font-weight: bold;
                color: gray;
                margin: 10px 0 5px 0;
            }
            a, .linking{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                text-decoration: none;
                
                &:hover{
                    background-color: #c2b4f5;
                    color: aliceblue;
                }
                .icon{
                    font-size: 18px;
                    background-color: #8665ff;
                    color: aliceblue;
                    padding: 5px;
                    align-self: flex-end;
                    border-radius: 5px;
                }
                span{
                    color: rgb(99, 97, 97);
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
        p{
            text-align: left;
        }
}